*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:#00302e;
} 
.landing-page{
    padding-left: 5%;
    padding-right: 5%;

}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
   

      
}
.logo-container{
    display: flex;
    gap: 2px;
    align-items: center;
}

.logo{
    width: 57.48px;
    height: 67px; 
}

h1{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 40px;
    text-align: left;
     width: 92px;
    height: 46px;
    

}

.Nav-bar{
    display: flex;
    color: white;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    
    
}
/* .Nav-bar li{
    display: inline-block;
   
} */
/* .home{
    width: 63px;
    height: 33px;
    top: 80px;
    left: 990px;
    color: white;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: #FBDDBB;
} */

/* .login{
    width: 57px;
    height: 33px;
    top: 80px;
    left: 1098px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color:  #FFFFFFDE;
} */
.button{
    width:100px;
    height: 40px;
    border-radius: 5px;
    background-color:  #FBDDBB;
}
section{
    color: #FFFFFF;
    font-family: Poppins;
    padding-top: 70px; 
}

.hero{
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
.hero-test{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Test{
    width: 650px;
   font-size: 64px;
   font-weight: 500;
   line-height: 77px;

}
.food{
    color:  #FBDDBB;

}
.browse{
    width: 609px;
   font-size: 18px;
   font-weight: 400;
   line-height: 33px;
}
.badges{
    width: 282px;
    height: 40px;
    
}
.image{
    border-radius: 60%;
}
.unsplash1{
    width: 400px;
    height: 400px;
}
.Special-meals{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: #FFFFFF;
    padding-top: 70px;
}
.content-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 463px;
    justify-content: center;
    margin: 0 auto;
    
  }
  .content-holder h3{
   font-size: 36px; 
   font-weight: 700px;
   
}


.Menu{
 display: flex;
 justify-content: space-between;
 gap: 40px;
 align-items: center;
 
}
.Special-meals img{
    width: 250px;

       
 }

 .Menu h3{
    color: #FBDDBB;


 }
  .unsplash2, .unsplash3, .unsplash4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding-top: 40px;
  }


.notification-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding-top: 200px;
    font-family: popping;
    

}
.left-content{
    flex-direction: column;
    
}

.notification-container h3{
    color: #FBDDBB;
    font-weight: 500;
    font-size: 36px;
   

}
.notification-container p{
    padding-top: 20px;
}

.form{
    display: flex;
    gap: 1px;
    align-items: center;
}
.form-side input{
    width: 299px;
    height: 51px;
    border-radius: 2px;
}
.form-side button{
    width: 182px;
    height: 51px;
    background-color: #FBDDBB;
    color: black;
}
input{
    text-align: left;
    color: #B2B2B2;
    padding-left: 20px;
    font-weight: 199px;
    font-size: 21px;

}
footer{
    width: 100%;
    height: 393px;
    background-color:#0B0D17;
    margin-top: 100px;
}
.footer-container{
    display: flex;  
    justify-content: space-between;
    color: #F4F5F7;
    font-family: inter;
    padding-top: 50px; 
    padding-left: 50px;  
}
.Company-list{
    display: flex;
    padding-top:0px ;
    flex-direction: column;
    gap: 10px ; 
    font-weight: 255px; 
    font-size: 28px;
}
.footer-container ul{
    display: flex;
    flex-direction: column;
    gap:10px; 
}

.Support-list, .Legal-list,.install{
    display: flex;
    flex-direction: column;
    gap:10px; 
    font-weight: 255px; 
    font-size: 28px;
}

.install img{
    width: 162px;
    height: 48px;
    padding-top: 20px;
}




.footer-container a{
    text-decoration: none;
    color:#F4F5F7;
    

}
.footer-container ul{
    list-style-type: none;
    padding-top: 20px;
    font-weight: 255px;
    font-size: 24px;
    font-family: inter;
    
    
}

.horizontal-line{
    border: 1px solid  #FFFFFF;
    margin-top: 50px;
    opacity: 10%;
    
}
.lilies{
    color: #F4F5F7;
    font-family: inter;
    font-weight: 540px;
    font-size: 24px;
    
    
      
}
.lilies-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    
    
}

.socials{
  display: flex;
  gap: 24px;
  
}

.socials img{
    width: 15.49px;
    height: 12.8px;
}